div{
    background-color:blue;
}

.heading{
    color: red;

}

p{
    color: black;
    text-align: center;
    text-decoration:green underline;
    font-weight: bolder;

}
a{
    background-color: brown;
    color: chartreuse;
}