div{
  height: 100px;
  width: 100px;
  
  font-size: 10px;
  display: inline-block;
  border: 2px dashed black;

}

/* #box2
{
    height: 50px;
  width: 30%;
  background-color: yellow;
  font-size: 2em;
} */
 #box1{
 
   background-image: url(cat-unsplash.jpg);
  background-size: cover;;
 }
 #box2{
  position: relative;
  top: 20px;
  left: 10px;
 }
 #box3{
  position: absolute;
 }
 #box4{
  position: fixed;
  top: 0;
  background-color: burlywood;
 }
 body{
 
 }